body {
    font-family: 'Merriweather', serif;
font-family: 'Sora', sans-serif;
    font-size: x-large;
    
}

/* Containers */

.hero-container {
    height: 100%;

    background: url('../images/boxing-ring.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    padding: 0;
    margin: o;
}


.hour-container {
    background-color: #f5f5f5;
    color: tomato;
    border-color: tomato;
}

.map-container {
    background-color: tomato;
    color: #f5f5f5;
    border-color: #f5f5f5;
    padding: 20px;
    box-shadow: 4px 4px 5px 3px grey;
}

.content-container {
    padding: 20px;
    border-radius: 15px;
}

.about-container {
    background-color: #f5f5f5;
    color: whitesmoke;
    border-color: tomato;

    /* height: 80vh; */

    background: url('../images/gym.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.about-container p {
    color: #f5f5f5;
    background-color: tomato;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-container section {
    background-color: rgb(51 50 49 / 90%);
}

.footer-container {
    font-size: medium;
    background-color: tomato;
    border-color: #f5f5f5;
    padding-top: 30px;
}

.table-dark {
    box-shadow: 4px 4px 5px 3px grey;
}

.map-responsive {
    box-shadow: 4px 4px 5px 3px grey;
}

.abouts-container {
    box-shadow: 4px 4px 5px 3px grey;
}


/* Jumbotron */

.jumbotron {
    background-color: rgb(51 50 49 / 90%);
    color: tomato;
    padding-top: 70px;
    box-shadow: 4px 4px 5px 3px grey;
}

.jumbotron-header {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 30px;
}


/* Header */

.header p {
    text-align: center; 
    text-decoration-color: dimgrey;
    font-weight: bolder;
    margin-top: 30px;
}

/* Button */

.btn-primary:hover {
    background-color: #95c0ee;
    border-color: #06488e;
}

.btn-success:hover {
    background-color: #91fa70 ;
    border-color: #255716;
}

.btn {
    border-radius: 10px;
    min-width: 75px;
}

/* Navbar */

.navalert-container {
    padding-left: 0;
    padding-right: 0;
}

.navalert-container a {
    font-size: 20px;
}

.navbar {
    background-color: rgba(0, 0, 0, .8);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bolder;
    color: tomato;
    font-size: 27px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Alert */

.new-price-alert {
    color: tomato;
    padding: 0;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.alert-warning {
    border-color: #343a40;
}

element.style {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
}

/* Map */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-container a {
    font-size: x-large;
    color: whitesmoke;
}

.map-container a:hover {
    text-decoration: none;
    color: #007bff;
}

.map-container p {
    padding-top: 30px;
}


/* Footer */

.footer {
    background-color: rgba(0, 0, 0, .8);
    color: whitesmoke;
    border-color: whitesmoke;
    min-height: 120px;
    margin: 0;
    font-size: 20px;
}

.social-links  i {
    font-size: 35px;
}

a:hover {
    text-decoration: none;
    color: #95c0ee;
}