body {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    
}

/* Containers */

.hero-container {
    height: 100vh;

    background: url('../images/boxing-ring.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.hour-container {
    background-color: #f5f5f5;
    color: tomato;
    border-color: tomato;
}

.map-container {
    background-color: tomato;
    color: #f5f5f5;
    border-color: #f5f5f5;
}

.content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-container {
    background-color: #f5f5f5;
    color: tomato;
    border-color: tomato;

    height: 80vh;

    background: url('../images/gym.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.about-container p {
    color: #f5f5f5;
    background-color: tomato;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-container {
    font-size: medium;
    background-color: tomato;
    border-color: #f5f5f5;
    padding-top: 30px;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
    color: tomato;
}

.jumbotron-header {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 30px;
}


/* Header */

.header p {
    text-align: center; 
    text-decoration-color: dimgrey;
    font-weight: bolder;
    margin-top: 30px;
}

/* Button */

.btn-primary:hover {
    background-color: #06488e;
    border-color: #06488e;
}

.btn-success:hover {
    background-color: #255716 ;
    border-color: #255716;
}

.btn {
    border-radius: 10px;
    min-width: 100px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navalert-container a {
    font-size: 30px;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bolder;
    color: tomato;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Alert */

.new-price-alert {
    color: tomato;
    padding: 0;
    background-color: #ffdb68;

    top: 60px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius: 10px;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.alert-warning {
    border-color: #343a40;
}


/* Map */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-container a {
    font-size: x-large;
    color: whitesmoke;
}

.map-container p {
    padding-top: 30px;
}

/* Icons */

i {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 20px;
}

/* Footer */

.footer {
    background-color: tomato;
    color: whitesmoke;
    border-color: whitesmoke;
    min-height: 120px;
    margin: 0;
    font-size: 20px;
}

.social-links {
    color: royalblue;
}


