body {
    font-family: 'Merriweather', serif;
    font-family: 'Sora', sans-serif;
    font-size: x-large;
    background-color: whitesmoke;
}

/* Containers */

.hero-container {
    height: 100%;

    background: url('../images/boxing-ring.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    padding: 0;
    margin: 0;
}


.hour-container {
    background-color: #f5f5f5;
    color: tomato;
    border-color: tomato;
    padding: 20px;
}

.map-container {
    background-color: #343a40;
    color: tomato;
    border-color: #f5f5f5;
    padding: 20px;
    box-shadow: 4px 4px 5px 3px grey;
}

.contact-container {
    background-color: #343a40;
    color: #f5f5f5;
    border-color: #f5f5f5;
    /* border-radius: 15px; */
    padding: 20px;
}

.contact-tweet-container {
    background-color: tomato;
    color: #f5f5f5;
    border-color: #f5f5f5;
    padding: 20px;
    box-shadow: 4px 4px 5px 3px grey;
    /* border-radius: 15px; */
}

.contact-tel-container {
    background-color: #f5f5f5;
    color: tomato;
    border-color: tomato;
    /* border-radius: 15px; */
    padding: 20px;
    box-shadow: 4px 4px 5px 3px grey;
}

.contact-email-container {
    background-color: #f5f5f5;
    color: tomato;
    border-color: tomato;
    /* border-radius: 15px; */
    padding: 20px;
    box-shadow: 4px 4px 5px 3px grey;
}

.content-container {
    padding: 20px;
}

.about-container {
    background-color: #f5f5f5;
    color: whitesmoke;
    border-color: tomato;


    background: url('../images/gym.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.about-container p {
    color: #f5f5f5;
    background-color: #343a40;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-container section {
    background-color: rgb(51 50 49 / 90%);
}

.footer-container {
    font-size: medium;
    background-color: tomato;
    border-color: #f5f5f5;
    padding-top: 30px;
}

.table-dark {
    box-shadow: 4px 4px 5px 3px grey;
}

.abouts-container {
    box-shadow: 4px 4px 5px 3px grey;
}

.team-container {
    background-color: tomato;
    color: #f5f5f5;
    border-color: #f5f5f5;
    padding: 20px;
    box-shadow: 4px 4px 5px 3px grey;
    /* border-radius: 15px; */
}

.classes-container {
    padding: 20px;
    background-color: #f5f5f5;
    color: tomato;
    border-color: tomato;
}

.classes-container a {
    color: tomato;
}

.classes-container a:hover {
    color: #007bff;
}

.equipment-container {
    background-color: #343a40;
    color: tomato;
    border-color: #f5f5f5;
    padding: 20px;
    /* border-radius: 15px; */
}

.pt-container {
    background-color: #f5f5f5;
    color: whitesmoke;
    border-color: tomato;


    background: url('../images/boxing-ring.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


/* Jumbotron */

.jumbotron {
    background-color: rgb(51 50 49 / 90%);
    color: tomato;
    padding-top: 70px;
    box-shadow: 4px 4px 5px 3px grey;
}

.jumbotron-header {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 30px;
}


/* Header */

.header p {
    text-align: center; 
    text-decoration-color: dimgrey;
    font-weight: bolder;
    margin-top: 30px;
}

/* Button */

.btn-primary:hover {
    background-color: #95c0ee;
    border-color: #06488e;
}

.btn-success:hover {
    background-color: #91fa70 ;
    border-color: #255716;
}

.btn {
    border-radius: 10px;
    min-width: 85px;
}

.btn-classes {
    color: #f5f5f5;
    font-size: 24px;
}

.btn-classes:hover {
    color: tomato;
}

/* Navbar */

.navalert-container {
    padding-left: 0;
    padding-right: 0;
}

.navalert-container a {
    font-size: 20px;
}

.navbar {
    background-color: rgba(0, 0, 0, .8);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bolder;
    color: tomato;
    font-size: 27px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Alert */

.new-price-alert {
    color: tomato;
    padding: 0;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.alert-warning {
    border-color: #343a40;
    box-shadow: 4px 4px 5px 3px grey;
}

element.style {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
}

/* Map */

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    box-shadow: 4px 4px 5px 3px grey;
}


.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-container a {
    font-size: x-large;
    color: tomato;
}

.map-container a:hover {
    text-decoration: none;
    color: #007bff;
}

.map-container p {
    padding-top: 30px;
}


/* Footer */

.footer {
    background-color: rgba(0, 0, 0, .8);
    color: whitesmoke;
    border-color: whitesmoke;
    min-height: 120px;
    margin: 0;
    font-size: 20px;
}

.social-links  i {
    font-size: 35px;
}

a:hover {
    text-decoration: none;
    color: #95c0ee;
}


/* Modal */

.modal-content {
    color: #343a40;
    background-color: whitesmoke;
 }

 /* Classes */

 .classes {
    width: 100%;
    display: flex;
    justify-content: space-around;
 }

 /* Equipment */

 .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    max-height: 150px;
    min-height: 120px;
}

/* Card */

.card {
    background-color: #f5f5f5;
    color: #343a40;
}

/* Block dividers */

.block-divider {
    width: 35px;
    height: 5px;
    border: 0;
    background-color: tomato;
}

/* Carousel */

.carousel-item {
    padding: 80px;
    text-align: center;
}

.carousel-inner {
    background-color: #343a40;
    color: #f5f5f5;
    border-color: #f5f5f5;
    padding: 20px;
    box-shadow: 4px 4px 5px 3px grey;
    border-radius: 15px;
}

.card-text strong {
    color: tomato;
}

/* Contact tabs */

.contact-tweet-container i {
    color: #f5f5f5;
}

/* Modal */

.modal-content h3 {
    color: tomato;
}

.modal-times {
    color: tomato;
}

.equipment-card h3 {
    color: tomato;
}

.enquiry-form {
    background-color: #343a40e0;
    color: tomato;
    border-color: tomato;
    border-radius: 15px;
    padding: 20px;
}